body {
    margin: 10px;
}

a {
    word-wrap: break-word;
}

section {
    margin-bottom: 20px;
}

nav a {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    word-wrap: normal;
}

nav a:after {
    content: " ";
}

#info {
    padding-top: 30px;
}

#impress {
    padding-top: 30px;
    font-size: 12px;
}

.pure-button-active {
    background: #0078e7;
    color: white;
}

h2 .population {
    font-size: smaller;
}

#sbgMap {
    max-width: 100%;
}
