a {
    word-wrap: break-word;
}

section {
    margin-bottom: 20px;
}

nav a {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    word-wrap: normal;
}

nav a:after {
    content: " ";
}

#impress {
    padding-top: 30px;
    font-size: 12px;
}