body {
    margin: 10px;
}

a {
    word-wrap: break-word;
}

section {
    margin-bottom: 20px;
}

nav a {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    word-wrap: normal;
}

nav a:after {
    content: " ";
}

#info {
    padding-top: 30px;
}

#impress {
    padding-top: 30px;
    font-size: 12px;
}

.pure-button-active {
    background: #0078e7;
    color: white;
}

h2 .population {
    font-size: smaller;
}

#sbgMap {
    max-width: 100%;
}

#dataTable {
    width: 100%;
    overflow-y: auto;
    margin: 0 0 1em;
}

#dataTable::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}

#dataTable::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
}

#dataTable .index_name {
    display: none;
}

#dataTable .col_heading,
#dataTable .data {
    text-align: right;
}

#dataTable .row_heading {
    text-align: left;
}

#dataTable tr:hover {
    background-color: #ffff99 !important;
}

#dataTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
