name: Update Job
on:
  schedule:
    - cron: '0 9,17 * * *'
  workflow_dispatch:

jobs:
  update:
    name: Update data
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install and Build
        run: |
          npm install

      - name: update data
        run: |
          npm run update

      - name: generate csv
        run: |
          npm run csv

      - name: generate json
        run: |
          npm run json

      - name: Install GDAL dependencies
        run: |
          sudo apt-get install libgdal-dev gdal-bin python3-gdal python3-numpy --fix-missing --no-install-suggests -y

      - name: Install python dependencies
        env:
          CPLUS_INCLUDE_PATH: /usr/include/gdal
          C_INCLUDE_PATH: /usr/include/gdal
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install gdal==$(gdal-config --version)
          python -m pip install -r requirements.txt

      - name: generate map
        run: |
          python src/map.py

      - name: show files
        run: |
          ls -alh
          ls data -alh
          ls docs/report -alh

      - name: Commit report
        run: |
          git config --global user.name 'Github Action Update Job'
          git config --global user.email 'info@122.co.at'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git add data/*
          git commit -am "Date update commit"
          git push origin HEAD:master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
